.wht {
    color: white;      /* если используете CSS-переменные темы */
    font-family: inherit;
    /* другие свойства в стиле вашей темы */
}
.blck {
    color: black;      /* если используете CSS-переменные темы */
    font-family: inherit;
    /* другие свойства в стиле вашей темы */
}